<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <title>{{.Image}} IiifViewer</title>
        <style>
#map {width:100%; height: 90vh;}
        </style>
    </head>
    <body>
        <div id="map"></div>
        <p>
            <a href="/">Back</a> |
            Kudos to <a href="https://github.com/klokantech/iiifviewer">Klokan Technologies</a>.
        </p>

        <script src="https://cdn.klokantech.com/iiifviewer/v1.2/iiifviewer.js"></script>
        <script>
new IiifViewer('map', '/{{.Image}}/info.json')
        </script>
    </body>
</html>
