<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <title>IIIF</title>
    </head>
    <body>
        <h1>IIIF go server</h1>
        {{ range .URLs }}
        <h2>{{ .URL.Path }}</h2>
        <p>Zoomable interfaces:
            <a href="/{{ .Encoded }}/openseadragon.html">OpenSeadragon</a>,
            <a href="/{{ .Encoded }}/leaflet.html">Leaflet-IIIF</a>,
            <a href="/{{ .Encoded }}/iiifviewer.html">IiifViewer</a>.
        </p>
        {{ end }}
        {{ range $image := .Files }}
        <h2>{{ $image.Name }}</h2>
        <p>Zoomable interfaces:
            <a href="/{{ $image.Name }}/openseadragon.html">OpenSeadragon</a>,
            <a href="/{{ $image.Name }}/leaflet.html">Leaflet-IIIF</a>,
            <a href="/{{ $image.Name }}/iiifviewer.html">IiifViewer</a>.
        </p>
        <h3><tt>/{{ $image.Name }}/<strong>info.json</strong></tt></h3>
        <iframe src="/{{ $image.Name }}/info.json" width="100%" height="250px"></iframe>
        <h3><tt>/{{ $image.Name }}/square/500,/0/default</tt></h3>
        <img src="/{{ $image.Name }}/square/500,/0/default.jpg">
        <!--
        <h2>Region</h2>
        <h3><tt>/<strong>full</strong>/0/default</tt></h3>
        <img src="/{{ $image.Name }}/full/max/0/default.jpg">
        <h3><tt>/<strong>square</strong>/max/0/default</tt></h3>
        <img src="/{{ $image.Name }}/square/full/0/default.jpg">
        <h3><tt>/<strong>100,100,500,500</strong>/max/0/default</tt></h3>
        <img src="/{{ $image.Name }}/100,100,500,500/full/0/default.jpg">
        <h3><tt>/pct:25,25,50,50/max/0/default</tt></h3>
        <img src="/{{ $image.Name }}/pct:25,25,50,50/full/0/default.jpg">
        <h2>Size</h2>
        <h3><tt>/max/500,500/0/default</tt></h3>
        <img src="/{{ $image.Name }}/full/500,500/0/default.jpg">
        <h3><tt>/full/!500,500/0/default</tt></h3>
        <img src="/{{ $image.Name }}/full/!500,500/0/default.jpg">
        <h3><tt>/full/500,/0/default</tt></h3>
        <img src="/{{ $image.Name }}/full/500,/0/default.jpg">
        <h3><tt>/full/,500/0/default</tt></h3>
        <img src="/{{ $image.Name }}/full/,500/0/default.jpg">
        <h3><tt>/full/pct:25/0/default</tt></h3>
        <img src="/{{ $image.Name }}/full/pct:25/0/default.jpg">
        <h2>Rotation</h2>
        <h3><tt>/full/max/180/default</tt></h3>
        <img src="/{{ $image.Name }}/full/max/180/default.jpg">
        <h3><tt>/full/max/!180/default</tt></h3>
        <img src="/{{ $image.Name }}/full/max/!180/default.jpg">
        <h3><tt>/full/max/90/default</tt></h3>
        <img src="/{{ $image.Name }}/full/max/90/default.jpg">
        <h2>Quality</h2>
        <h3><tt>/full/max/0/gray</tt></h3>
        <img src="/{{ $image.Name }}/full/max/0/gray.jpg">
        <h3><tt>/full/max/0/bitonal</tt></h3>
        <img src="/{{ $image.Name }}/full/max/0/bitonal.jpg">
        <h2>Format</h2>
        <h3><tt>/full/max/0/default.jpg</tt></h3>
        <img src="/{{ $image.Name }}/full/max/0/default.jpg">
        <h3><tt>/full/max/0/default.png</tt></h3>
        <img src="/{{ $image.Name }}/full/max/0/default.png">
        <h3><tt>/full/max/0/default.webp</tt></h3>
        <img src="/{{ $image.Name }}/full/max/0/default.webp">
        <h3><tt>/full/max/0/default.jp2</tt></h3>
        <img src="/{{ $image.Name }}/full/max/0/default.jp2">
        -->
        {{ end }}
    </body>
</html>
